### Exercise 1
1. Determine the type of the following variables: `a = 10`, `b = 10.5`, `c = 'hello'`, `d = [1, 2, 3]`, `e = (4, 5, 6)`, `f = {'key': 'value'}`, `g = {1, 2, 3}`.

In [1]:
a = 10
b = 10.5
c = 'hello'
d = [1, 2, 3]
e = (4, 5, 6)
f = {'key': 'value'}
g = {1, 2, 3}

print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))
print(type(g))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>
<class 'set'>

### Exercise 2
2. Format the string `'Hello, {name}!'` with the name `'Alice'`.

In [2]:
name = 'Alice'
formatted_string = f'Hello, {name}!'
print(formatted_string)

Hello, Alice!

### Exercise 3
3. Use the `format` method to format the string `'The number is: {}'` with the number `42`.

In [ ]:
number = 42
formatted_string = 'The number is: {}'.format(number)
print(formatted_string)

### Exercise 4
4. Use the `format` method to format the string `'The numbers are: {}, {}, and {}'` with the numbers `1`, `2`, and `3`.

In [ ]:
formatted_string = 'The numbers are: {}, {}, and {}'.format(1, 2, 3)
print(formatted_string)

### Exercise 5
5. Convert the string `'hello'` to bytes.

In [ ]:
s = 'hello'
b = s.encode('utf-8')
print(b)
print(b[0])

### Exercise 6
6. Decode the bytes `b'hello'` back to a string.

In [ ]:
b = b'hello'
s = b.decode('utf-8')
print(s)
print(s[0])

### Exercise 7
7. Determine the length of the string `'hello'` in bytes.

In [ ]:
s = 'hello'
length_in_bytes = len(s.encode('utf-8'))
print(length_in_bytes)

### Exercise 8
8. Evaluate the expression `10 + 20 * 30`.

In [ ]:
result = 10 + 20 * 30
print(result)

### Exercise 9
9. Evaluate the expression `(10 + 20) * 30`.

In [ ]:
result = (10 + 20) * 30
print(result)

### Exercise 10
10. Determine if the number `10` is greater than `5` and less than `20`.

In [ ]:
result = 10 > 5 and 10 < 20
print(result)

### Exercise 11
11. Determine if the string `'hello'` contains the letter `'e'`.

In [ ]:
s = 'hello'
result = 'e' in s
print(result)

### Exercise 12
12. Write a `for` loop to print numbers from 1 to 5.

In [ ]:

for i in range(5):
    print(i + 1)

### Exercise 13
13. Write a `while` loop to print numbers from `1` to `5`.

In [ ]:
i = 1
while i <= 5:
    print(i)
    i += 1

### Exercise 14
14. Use an `if` statement to check if the number `10` is greater than `5`.

In [ ]:
if 10 > 5:
    print('10 is greater than 5')

### Exercise 15
15. Use an `if-elif-else` statement to check if a number is positive, negative, or zero.

In [ ]:
number = 0
if number > 0:
    print('Positive')
elif number < 0:
    print('Negative')
else:
    print('Zero')

### Exercise 16
16. Use a `for` loop and the `range` function to print numbers from `5` to `1`.

In [ ]:
for i in range(5, 0, -1):
    print(i)